.mainCarrinho{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:32px;

    width: 100%;
    padding: 0px;
}

.itemCarrinhoContainer{
    width: 95%;
    height: 294px;
    display: flex;
    justify-content: space-between;
}

.informacoesPedido{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap:16px;
}

.endereco{
    display: flex;
    flex-direction: column;
    gap:8px;
}

.presente{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:4.5px;
    margin-top: 12px;
}

.presenteResponsivo{
    display: none;
}

.valoresIndividuais{
    display: flex;
    gap: 64px;

    justify-content: flex-end;
}

.total{
    display: flex;
    gap: 64px;

    justify-content: flex-end;
}

.hsix{
    font-size: 24px;
}

.pcep{
    font-family: Antic Didone;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
}

.psixteen{
    font-family: Antic Didone;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}

.inputCEP{
    width: 224px;
    height: 57px;

    background-color: #DCD7D5;
    border: none;

    padding-left: 16px;

    font-family: Antic Didone;
    font-size: 24px;
    font-weight: 400;
}

.inputCEP::placeholder{
    color: black;
}

.finalButton{
    width: 214px;
    height: 55px;
    padding: 10px 30px 10px 30px;
    margin-right: 52px;

    background-color: var(--lilas-400);
    border: none;
    cursor: pointer;

    font-family: Zen Antique Soft;
    font-size: 24px;
    font-weight: 400;
}

input[type="checkbox"].checkbox {
    width: 20px;
    height: 20px;

    accent-color: var(--lilas-400);
    border: none;
    border-radius: 0px;
    background-color: #E7E3E1;
    cursor: pointer;
}

@media(max-width: 480px){

    .mainCarrinho{
        gap:0px;
    }

    .itemCarrinhoContainer{
        flex-direction: column;
        justify-content: flex-start; 
        
        width: 90%;
        height: auto;
    }

    .informacoesPedido{
        align-items: center;
    }

    .presente{
        display: none;
    }

    .presenteResponsivo{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap:4px;
        margin-bottom: 24px;
    }

    .pcepResponsivo{
        font-family: Antic Didone;
        font-size: 13px;
        font-weight: 400;
        text-align: left;
    }

    input[type="checkbox"].checkboxResponsivo {
        width: 15px;
        height: 15px;
    
        accent-color: var(--lilas-400);
        border: none;
        border-radius: 0px;
        background-color: #E7E3E1;
        cursor: pointer;
    }

    .endereco{
        margin-bottom: 32px;
    }

    .pcep{
        font-size: 20px;
    }

    .psixteen{
        font-size: 13px;
    }

    .inputCEP{
        width: 143.79px;
        height: 42px;

        padding-left: 7.89px;
    
        font-size: 20px;
    }

    .informacoesPedido{
        gap:8px;
        justify-content: center;
    }

    .valoresIndividuais{
        width: 100%;
        justify-content: space-between;
    }

    .hsix{
        font-size: 14px;
    }

    .totalH{
        font-size: 20px;
    }

    .total{
        gap: 0px;
        width: 100%;
        justify-content: space-between;
    }

    .finalButton{
        width: 123px;
        height: 43px;

        padding: 0;

        margin-right: 0px;
        margin-top: 32px;
        margin-bottom: 56px;

        font-size: 16px;
    }
}

