.carrinhoItens{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:32px;

    width: 95%;
    padding: 0px;
}

.containerProduto{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.produtoCarrinho{
    display: flex;
    align-items: center;
    gap:16px;
}

.responsivoItens{
    display: none;
}

input[type="checkbox"].checkboxProduto {
    width: 20px;
    height: 20px;

    accent-color: var(--lilas-400);
    border: none;
    border-radius: 0px;
    background-color: #E7E3E1;
    cursor: pointer;
  }

.infoProdutoCarrinho{
    display: flex;
    flex-direction: column;
    width: 241px;
    gap: 8px;
}

.marcaProduto{
    font-family: Zen Antique Soft;
    font-size: 24px;
    font-weight: 400;
}

.nomeProduto{
    font-family: Antic Didone;
    font-size: 20px;
    font-weight: 400;
}

.codigoProduto{
    font-family: Antic Didone;
    font-size: 20px;
    font-weight: 400;
}

.quantidadeProduto{
    display: flex;
}

.quantidadeProdutoResponsivo{
    display: none;
}

.buttonQuantidade{
    width: 40px;
    height: 40px;

    border: none;
    cursor: pointer;
    background: none;

    font-size: 24px;
    text-align: center;
    font-weight: 700;
}

.inputQuantidade{
    width: 40px;
    height: 40px;

    background-color: #F1F0EF;
    border: none;

    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

input[type=number].inputQuantidade::-webkit-inner-spin-button, 
input[type=number].inputQuantidade::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

.figureFavorite{
    width: 50px;
    height: 50px;
}



@media(max-width: 480px){
    .carrinhoItens{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap:0;
    
        width: 90%;
        height: auto;
    }

    .tituloResponsivo{
        margin-bottom: 16px;
    }

    .precoCarrinho{
        display: none;
    }

    .precoCarrinhoResponsivo{
        font-size: 20px;
    }

    .responsivoItens{
        display: flex;
        justify-content: space-between;
    }

    .figureFavorite{
        display: none;
    }

    .quantidadeProduto{
        display: none;
    }
    
    .quantidadeProdutoResponsivo{
        display: flex;
        gap:8px;

        margin-bottom: 24px;
    }

    .buttonQuantidade{
        width: 25px;
        height: 25px;
    
        font-size: 15px;
    }
    
    .inputQuantidade{
        width: 25px;
        height: 25px;

        font-size: 13px;
    }

    .nomeProduto{
        font-family: Antic Didone;
        font-size: 16px;
        font-weight: 400;
    }
    
    .codigoProduto{
        display: none;
    }

    .produtoCarrinho{
        margin-bottom: 16px;
    }

}