.product,
.information,
.images,
.secondaryImages,
.information .heading,
.information .main,
.information .main .heading,
.information .brandName,
.colors,
.about {
  display: flex;
}

.product {
  width: 100%;
  gap: 40px;
  justify-content: center;
}

.information,
.about,
.secondaryImages,
.information .main,
.information .brandName {
  flex-direction: column;
}

.information .heading {
  justify-content: space-between;
  flex-direction: row;
}

.images {
  gap: 1rem;
}

.information {
  width: 542px;
  gap: 16px;
}

.information .main,
.information .main .heading {
  gap: 1.5rem;
}

.information .brandName {
  gap: 8px;
}

.information .name,
.information .description {
  font-family: 'Antic Didone';
}

.information .name {
  font-size: 2rem;
}

.information .price {
  font-size: 2.25rem;
}

.information .about {
  gap: 8px;
  margin-bottom: 8px;
}

.information .description {
  font-size: 20px;
}

.about .heading {
  font-size: 1.5rem;
}

.favoriteIcon, .buyNow {
  cursor: pointer;
}

.information .buyNow {
  width: 265px;
  height: 55px;
  padding: 10px 30px;
  background-color: var(--lilas-400);
  align-self: center;
  font-size: 1.5rem;
}

.secondaryImage {
  display: block;
  width: 130px;
  height: auto;
}

.primaryImage {
  width: 494px;
  height: auto;
}

.favoriteIcon {
  width: 40px;
}

.colors {
  gap: 1.5rem;
}

.colors .colorItem {
  width: 70px;
  height: 70px;
}

.mainContent{
  margin-bottom: 56px;
  margin-top: 32px;
  width: 100%;
}

.reponsivo{
  display: none;
}

@media (max-width:480px){

  .desktop{
    display: none;
  }

  .reponsivo{
    display: block;
  }

  .product{
    align-items: center;
    width: 90%;
    margin-bottom: 56px;
    margin-top: 32px;
  }

  .mainContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:56px;
    margin-bottom: 56px;
    padding: 0;
    width: 100%;
  }

  .heading {
    gap: 0;
    justify-content: space-between;
    flex-direction: row;
    font-size: 30px;
    width: 100%;
    text-align: left;
  }

  .information .main .heading {
    flex-direction: row;
    gap: 0px;
  }

  .product {
    flex-direction: column;
    justify-content: center;
  }
 
  /*ESSE SECONDARY IMAGES É PROVISÓRIO PARA FICAR ASSIM*/
  .secondaryImage {
    display: none;
  }

  .primaryImage {
    height: 303px;
    width: 234px;
    align-self: center; 
  }

  .colors .colorItem {
    width: 40px;
    height: 40px;
    flex-direction: row;
    justify-content: flex-start;
  }


  .information .description {
    font-size: 13px;
    text-align: left;
  }

  .brandName .name {
    font-size: 24px;
    text-align: left;
  }

  .information {
    gap: 16px;
    width: 100%;
    align-items: flex-start; 
  }

  .information .heading {
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }

  .about .heading {
    font-size: 16px;
  }

  .product .information .price {
    font-size: 32px;
    justify-content: flex-start;
    flex-direction: row;
    text-align: left;
  }
}