.productLineCard {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 359px;

  background-color: #F9F8F7;
  padding-top: 26px;
  padding-bottom: 26px;
}

.productLineCard h5{
  font-size: 32px;
  text-align: center;
}

.seeMore {
  width: 177px;
  height: 55px;
  border: none;
  padding: 10px 30px;
  background-color: var(--lilas-400);
  font-size: 24px;
}

.productLineCard button {
  cursor: pointer;
}

@media(max-width:480px){
  .productLineCard {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    width: 100%;
  
    background-color: #F9F8F7;
    padding-top: 26px;
    padding-bottom: 26px;
  }
}