.productSlider {
  width: 80%;
  margin: auto;
  padding: 20px;
}

.productCard {
  text-align: center;
  padding: 10px;
}

.productImage {
  border-radius: 8px;
}

.productCard h3 {
  margin: 10px 0;
}

.productCard p {
  font-size: 1.2em;
  color: #333;
}
